{% extends "index.html" %}
{% block url %}
  <main class="flex-grow-1">
   <div class="container-lg mt-3">
    <h1>
     Сайт: {{ url[1] }}
    </h1>
    <div class="table-responsive">
     <table class="table table-bordered table-hover text-nowrap" data-test="url">
      <tbody>
       <tr>
        <td>
         ID
        </td>
        <td>
         {{ url[0] }}
        </td>
       </tr>
       <tr>
        <td>
         Имя
        </td>
        <td>
         {{ url[1] }}
        </td>
       </tr>
       <tr>
        <td>
         Дата создания
        </td>
        <td>
         {{ url[2].strftime('%Y-%m-%d') }}
        </td>
       </tr>
      </tbody>
     </table>
    </div>
    <h2 class="mt-5 mb-3">
     Проверки
    </h2>
    <form action="{{ url_for('check_url', id=url[0] )}}" method="post">
     <input class="btn btn-primary" type="submit" value="Запустить проверку"/>
    </form>
    <div>
     <table class="table table-bordered table-hover mt-2" data-test="checks">
      <tbody>
       <tr>
        <th>
         ID
        </th>
        <th>
         Код ответа
        </th>
        <th>
         h1
        </th>
        <th>
         title
        </th>
        <th>
         description
        </th>
        <th>
         Дата создания
        </th>
       </tr>
       {% if checks %}
       {% for check in checks %}
       <tr>
        <td>
            {{ check[0] or ''}}
        </td>
        <td>
            {{ check[2]}}
        </td>
        <td>
            {{ check[3] or ''}}
        </td>
        <td>
            {{ check[4] or ''}}
        </td>
        <td>
            {{ check[5] or ''}}
        </td>
        <td>
            {{ check[6].strftime('%Y-%m-%d') }}
        </td>
       </tr>
       {% endfor %}{% endif %}
      </tbody>
     </table>
    </div>
   </div>
  </main>
  {% endblock %}